:root {
    --dark-purple: #5541D7;
    --light-purple: #DBD7F4;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
::placeholder {
    color: #9A9AB0;
    font-family: Mulish , Tahoma;
  }
body {
    font-family: Mulish , Tahoma;
    background-color: #F7F7FC;
}
h4 {
    text-align: center;
    margin-top: 30px;
}
@media (min-width: 768px) {
    h4 {
        font-size: 36px;
    }
}
.container {
    max-width: 600px;
    margin-top: 100px;
    padding-bottom: 30px;
    background-color: white;
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media (min-width: 768px) {
    .container {
        margin-top: 20px;
        margin-bottom: 100px;
    }
}
.container ul {
    display: flex;
}
.container ul li {
    width: 50%;
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 3px solid var(--light-purple);
    font-size: 16px;
    line-height: 120%;
    font-weight: bold;
}
.container ul li a {
    color: #92929D;
}
.container ul li.active {
    border-color: var(--dark-purple);
}
.container ul li.active a {
    color: black;
}
.container .form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 120%;
}
.container .form label , .container .form input {
    display: block;
    width: 100%;
}
.container .form label {
    margin-bottom: 5px;
    padding-left: 10px;
}
.container .form input {
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid var(--dark-purple);
}
.container .form #email {
    margin-bottom: 15px;
}
.container .form #passwordSignup {
    margin-bottom: 15px;
}
.container .form #confirm {
    margin-bottom: 15px;
}
.container .form input[type="checkbox"] , .container form input[type="checkbox"] + label {
    display: inline;
    width: unset;
}
.container .form input[type="checkbox"] {
    margin-left: 15px;
}
.container .form #signup {
    margin-top: 15px;
}
.container .form p {
    text-align: right;
    color: #9A9AB0;
    margin-top: 5px;
    margin-bottom: 15px;
}
.container .form p:last-of-type {
    text-align: center;
}
.container .form p a {
    color: #9A9AB0;
}
.container .form button {
    background-color: var(--dark-purple);
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: white;
    font-family: Mulish , Tahoma;
    font-size: 16px;
    font-weight: bold;
    line-height: 120%;
}
.container .form button:hover {
    cursor: pointer;
}
.container .form button:last-of-type {
    background-color: white;
    color: var(--dark-purple);
    margin-top: -10px;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--dark-purple);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
